*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: white;
  }
  .box{
    width: 350px;
    padding: 32px 0 16px 0 ;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  h1{
    font-size: 32px;
    color: #07001f;
  }
  p{
    margin-bottom: 27.2px;
  }
  form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  button{
    font-size: 18px;
    margin-top: 16px;
    padding: 8px ;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: #1e2c39;
    color: #fff;
    cursor: pointer;
  }
  button:hover{
    background: #fff;
    color: black;
  }
  
  .not-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
  }
  .not-member a{
    color: black;
    
  }
  a:hover{
    text-decoration: underline;
    
  }
  